<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmployeeWagePerPayCheck" value="2000"/>
    <add key="NumberOfPayChecks" value="26"/>
    <add key="EmployeeBenefitCostPerYear" value="1000"/>
    <add key="DependentBenefitCostPerYear" value="500"/>
    <add key="DiscountPercent" value="10"/>
  </appSettings>
</configuration>